---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Body from "../components/Body.astro";
---

<Layout title=" Lutier ⫶ Di corato ">
  <main>
    <Navbar />
    <Body />
  </main>
</Layout>
