---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Galeria from "../components/Galeria.astro";
---

<Layout title=" Luthier ⫶ Di corato ">
  <main>
    <Navbar />
    <Body />
    <Galeria/>
    <Footer />
  </main>
</Layout>
