---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

import Buconero from "../components/Buconero.astro";
---

<Layout title=" Lutier ⫶ Di corato ">
  <main>
    <Navbar />
    <Buconero/>
  </main>
</Layout>
