<section>
  <figure class="fotos">
    <img
      class="guitarra"
      src="/buconero/left.png"
      alt="Frente de guitarra electrica buconero"
    />
  </figure>

  <figure class="fotos">
    <img class="logo-marca" src="/logos/logo.png" alt="logo de marca" />
  </figure>

  <figure class="fotos">
    <img
      class="guitarra"
      src="/buconero/right.png"
      alt="Revés de guitarra electrica buconero"
    />
  </figure>
</section>

<section class="parrafo">
  <p>
    Mi trabajo se caracteriza por valorar los recursos nativos y el cuidado
    minucioso del uso de los materiales, donde la selección de excelentes
    maderas recuperadas o recicladas afianzan mi concepto del cuidado del medio
    ambiente.
  </p>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fotos img {
    max-width: 100%;
    height: auto;
  }

  .parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 32rem;
    text-align: center;
  }

  @media (max-width: 767px) {
    .guitarra {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .logo-marca {
      margin-top: 8rem;
    }
  }
</style>
