<section>
  <figure class="fotos">
    <img
      class="guitarra"
      src="/buconero/left.png"
      alt="Frente de guitarra electrica buconero"
    />
  </figure>

  <figure class="fotos">
    <img class="logo-marca" src="/logos/logo.png" alt="logo de marca" />
  </figure>

  <figure class="fotos">
    <img
      class="guitarra"
      src="/buconero/right.png"
      alt="Revés de guitarra electrica buconero"
    />
  </figure>
</section>

<section class="parrafo">
  <p>
    Mi trabajo se caracteriza por valorar los <span>recursos nativos</span> y el
    cuidado minucioso del uso de los materiales, donde la <span>selección</span>
     de excelentes
    <span>maderas</span> recuperadas o recicladas afianzan mi <span
      >concepto</span
    > del <span>cuidado</span> del medio ambiente.
  </p>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fotos img {
    max-width: 100%;
    height: auto;
  }

  .parrafo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 10rem;
    padding: 3rem 10rem;
    border-radius: 1rem;
    text-align: center;
    background-color: #20252d84;
    border: 1px solid #566378e0;
  }

  span {
    color: salmon;
  }

  @media (max-width: 767px) {
    .guitarra {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .logo-marca {
      margin-top: 4rem;
    }
  }

  @media (max-width: 767px) {
    .parrafo {
      text-align: center;
      margin: 5rem 2.5rem;
      padding: 3rem 3rem;
    }
  }
</style>
