<section>
  <figure class="fotos">
    <img
      class="guitarra"
      src="/buconero/left.png"
      alt="Frente de guitarra electrica buconero"
    />
  </figure>
  <figure class="fotos">
    <img src="/logos/logo.png" alt="logo de marca" />
  </figure>
  <figure class="fotos">
    <img
      class="guitarra"
      src="/buconero/right.png"
      alt="Revés de guitarra electrica buconero"
    />
  </figure>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fotos img {
    max-width: 100%;
    height: auto;
  }
</style>
