<section id="inicio">
  <!-- <figure class="fotos">
    <img
      class="guitarra"
      src="/buconero/left.png"
      alt="Frente de guitarra electrica buconero"
    />
  </figure> -->

  <figure class="fotos">
    <img class="logo-marca" src="/logos/logo.png" alt="logo de marca" />
  </figure>

  <!-- <figure class="fotos">
    <img
      class="guitarra"
      src="/buconero/right.png"
      alt="Revés de guitarra electrica buconero"
    />
  </figure> -->
</section>
<h1 class="bounce">↡</h1>
<section class="parrafo">
  <p>
    Mi trabajo se caracteriza por valorar los <span>recursos nativos</span> y el
    cuidado minucioso del uso de los materiales, donde la <span>selección</span>
     de excelentes
    <span>maderas</span> recuperadas o recicladas afianzan mi <span
      >concepto</span
    > del <span>cuidado</span> del medio ambiente.
  </p>
</section>

<style>
  h1 {
    text-align: center;
    font-size: 50px;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fotos img {
    max-width: 100%;
    height: auto;
    margin-top: 6rem;
  }

  .parrafo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem 10rem;
    padding: 3rem 10rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--fondo-parrafo);
    border: 2px dotted var(--borde-parrafo);
  }

  span {
    color: var(--span);
  }

  .bounce {
    animation: bounce 3s infinite cubic-bezier(0.64, 0, 0.36, 0.64);
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(
        -20px
      ); /* Ajusta la altura del rebote según tu preferencia */
    }
  }

  @media (max-width: 767px) {
    .guitarra {
      display: none;
    }
    .logo-marca {
      margin-top: 4rem;
    }
    .parrafo {
      text-align: center;
      margin: 5rem 2.5rem;
      padding: 3rem 3rem;
    }
  }
</style>
