

<div id="modal-buconero" class="modalDialog">
  <a href="#close" class="close">※</a>
  <p>DETALES BUCONERO</p>
  <figure class="modal">
    <img class="imagen-detalles" src="/buconero/detalles.png" alt="" />
  </figure>
</div>
