<footer>
    <ul>
      <li><h1>Navegación</h1></li>
      <li>Inicio</li>
      <li>Instrumentos</li>
      <li>Nosotros</li>
    </ul>

    <ul>
      <li><h1>Contacto</h1></li>
      <li>Instagram</li>
      <li>Facebook</li>
      <li>Youtube</li>
    </ul>

    <ul>
      <li><h1>Adicional</h1></li>
      <li>Marcas</li>
      <li>Otro elemento</li>
    </ul>

    <ul>
      <li><h1>Informativo</h1></li>
      <li>Boletín</li>
      <li>Blog</li>
    </ul>

    <ul>
      <li><h1>Interés</h1></li>
      <li>Sitio uno</li>
      <li>Sitio dos</li>
    </ul>

    <ul>
      <li><h1>Mapa del sitio</h1></li>
      <li>Link</li>
    </ul>
  </footer>

  <style>
    footer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    li {
        margin: 0;
    }
  </style>
</footer>
