<div class="container">
  <section class="tarjeta-container">
    <section class="tarjeta">
      <figure class="contenedor">
        <div class="imagen-contenedor">
          <img
            src="/buconero/completa.png"
            alt="Descripci贸n de la imagen"
            class="imagen-tapar"
          />
        </div>
        <p class="texto-oculto"><span>Modelo:</span> Buconero</p>
      </figure>
      <button class="detalles">Detalles</button>
    </section>

    <section class="tarjeta">
      <figure class="contenedor">
        <div class="imagen-contenedor">
          <img
            src="/velluto/completa.png"
            alt="Descripci贸n de la imagen"
            class="imagen-tapar"
          />
        </div>
        <p class="texto-oculto"><span>Modelo:</span> Velluto</p>
      </figure>
      <button class="detalles">Detalles</button>
    </section>

    <section class="tarjeta">
      <figure class="contenedor">
        <div class="imagen-contenedor">
          <img
            src="/eira/cuerpo.png"
            alt="Descripci贸n de la imagen"
            class="imagen-tapar"
          />
        </div>
        <p class="texto-oculto"><span>Modelo:</span> Eira</p>
      </figure>
      <button class="detalles">Detalles</button>
    </section>
    <section class="tarjeta">
      <figure class="contenedor">
        <div class="imagen-contenedor">
          <img
            src="/eira/cuerpo.png"
            alt="Descripci贸n de la imagen"
            class="imagen-tapar"
          />
        </div>
        <p class="texto-oculto"><span>Modelo:</span> Buconero</p>
      </figure>
      <button class="detalles">Detalles</button>
    </section>
  </section>
</div>

<style>
  .container {
    background: #20252d57;
  }
  span {
    color: salmon;
  }

  .tarjeta-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 3rem;
  }

  @media (max-width: 1300px) {
    .tarjeta-container {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }

    .tarjeta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .contenedor {
    position: relative;
  }

  .imagen-contenedor {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: #12161bb4;
    border-bottom: 3px solid #36496086;
    border-radius: 1rem 1rem 0 0;
    border: 2px solid #283141;
  }

  .imagen-tapar {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
    transition:
      opacity 0.3s,
      transform 0.3s;
    border-radius: 1rem 1rem 0 0;
  }

  .texto-oculto {
    position: absolute;
    bottom: 2px;
    left: 25px;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detalles {
    background: #2e3c4ad3;
    border: none;
    color: aliceblue;
    padding: 10px;
    margin-top: 10px;
    width: auto;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  .detalles:hover {
    background: #3d566ed3;
  }

  .imagen-contenedor:hover .imagen-tapar {
    transform: translateY(-50px);
  }

  .imagen-contenedor:hover + .texto-oculto {
    opacity: 1;
  }
</style>
