---
import Pua from "../iconos/Pua.astro";
import Instagram from "../iconos/Instagram.astro";
import Facebook from "../iconos/Facebook.astro";
import Phone from "../iconos/Phone.astro";
---

<nav>
  <figure>
    <img
      class="logo-s"
      src="/logos/logo.png"
      alt="Imgen del logo de Di corato luthier"
    />
  </figure>
  <ul class="secciones">
    <li class="nav-li">Inicio</li>
    <li class="nav-li">Instrumentos</li>
    <li class="nav-li" title="Nosotros">Nosotros</li>
    <li class="nav-li">Contacto</li>
  </ul>
  <ul class="iconos">
    <li class="tooltip-container nav-li">
      <span class="element" data-tooltip="Menu"
        ><a href=""></a> <Pua /></span
      >
    </li>
    <li class="tooltip-container nav-li">
      <span class="element" data-tooltip="Instagram "
        ><a href="https://www.instagram.com/di_corato_luthier/"><Instagram /></a
        >
      </span>
    </li>
    <li class="tooltip-container nav-li">
      <span class="element" data-tooltip="Facebook"
        ><a href="https://www.facebook.com/dicorato.luthier"><Facebook /></a>
      </span>
    </li>
  </ul>
</nav>

<section class="contacto">
  <a href="https://wa.me/549115463-7450"> <Phone /></a>
</section>

<style>
  nav {
    margin: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    backdrop-filter: blur(10px);
    background-color: #111418e3;
    border-bottom: 2px dotted #283141a3;
  }

  a {
    color: #dff0ff;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }

  .secciones {
    padding: 0 40rem 0 0;
  }

  .nav-li {
    font-size: 20px;
  }

  .logo-s {
    height: 60px;
  }

  .iconos {
    margin-right: 2rem;
  }

  .contacto {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    user-select: none;
  }

  @media (max-width: 1420px) {
    nav {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: 1420px) {
    .secciones {
      display: none;
    }
  }
</style>
