---
import Pua from "../iconos/Pua.astro";
import Instagram from "../iconos/Instagram.astro";
import Facebook from "../iconos/Facebook.astro";
---

<nav>
  <ul>
    <li class="tooltip-container">
      <span class="element" data-tooltip="Guitarras"><Pua /></span>
    </li>
    <li class="tooltip-container">
      <span class="element" data-tooltip="Instagram "><Instagram /></span>
    </li>
    <li class="tooltip-container">
      <span class="element" data-tooltip="Facebook"><Facebook /></span>
    </li>
  </ul>
</nav>
