<section class="parrafo">
  <p>
    A mediados de la década de los 90 me surge la intriga de comenzar la <span>construcción de guitarras y bajos</span> , y capacitándome de varias maneras logro afianzarme en <span>conocimientos y experiencia</span>. Es así que en el año 2010 decido crear <span>"Di Corato, instrumentos de cuerda pulsada"</span>.
  </p>
</section>

<style>
  .parrafo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem 20rem;
    padding: 3rem 10rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--fondo-parrafo);
    border: 2px dotted var(--borde-parrafo);
  }

  span {
    color: var(--span);
  }

  @media (max-width: 767px) {
    .parrafo {
      text-align: center;
      margin: 10rem 2.5rem;
      padding: 3rem 3rem;
    }
  }
</style>
