---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<meta charset="UTF-8" />
<meta
  name="Di corato 🎸 Luthier"
  content="Este es un breve resumen de un ejemplo de descripcion"
/>
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<body>
  <slot />
</body>

<style is:global>
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    /* --fondo-dark: #0e1319; */
    --fondo-dark: #101112;
    --fuente-light: #dff0ff;
  }

  html,
  body {
    margin: 0;
    box-sizing: border-box;
    font-family: Atkinson;
    background: var(--fondo-dark);
    color: var(--fuente-light);
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 0 10px;
  }

  /* 🔴 DATA TOOLTIP 🔴 */

  .tooltip-container {
    position: relative;
    text-align: center;
  }

  .element::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .element:hover::before {
    display: block;
    opacity: 1;
  }

  /* 🟠  SCROLL  🟠 */

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: #1c202a;
  }
  ::-webkit-scrollbar-thumb {
    background-color: salmon;
    border-radius: 5px;
  }
</style>
